<%= render "/_jumbotron.*" %>

<div class="container">
  <%= render "/_firstrow.*" %>
  <div class="spacer">&nbsp;</div>
  <%= render "/_secondrow.*" %>
  <div class="spacer">&nbsp;</div>
  <%= render "/_thirdrow.*" %>
</div>
