// @import "bootstrap";

html, body {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  -webkit-font-smoothing: auto !important;
  font-family: 'Roboto', sans-serif;
}

.wrap {
  min-height: 100%;
  width: 100%;
  height: auto !important;
  margin: 0 0 -120px 0;
  padding: 0;
}

.navbar-default {
  background-color: #fff;
  border: 0px;
  border-color: #fff;
}
.feature-well {
  min-height: 250px;
}

a.navbar-brand {
  padding-top: 12px;
}

a.navbar-brand > img{
  height: 25px;
}

.navbar-default .navbar-nav > li {
  margin-left: 10px;
}

.navbar-default .navbar-nav > li > a {
  background-color: transparent;
  border-bottom: 2px solid transparent;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  border-bottom-color: #1ef744;
  border-bottom-color: rgba(30,247,68,.25);
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
  border-bottom-color: #1ef744;
  background-color: transparent;
}

.btn-custom {
  color: #ffffff;
  background-color: #808282;
  border-color: #808282;
}
.btn-custom a{
  color: #ffffff;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
  color: #ffffff;
  background-color: #737575;
  border-color: #676868;
}
.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
  background-color: #808282;
  border-color: #808282;
  color: #ffffff;
}

.usefullink-img {
  display:inline-block;
  float: none;
  vertical-align: top;
  margin-right: -4px;
  margin-top: 4px
}

.usefullink-item {
  display:inline-block;
  float: none;
  vertical-align: middle;
  margin-left: -15px
}

.homefeature-img {
  display:inline-block;
  float: none;
  vertical-align: middle;
  margin-right: -4px
}
.homefeature-title {
  display: inline-block;
  float: none;
  vertical-align: middle;
  margin-top: -10px;
}
.feature-img {
  width: 54px;
  height: 54px;
}

.useful-img {
  width: 35px;
  height: 35px;
}

.jumbo-button {
  margin-bottom:4px;
}
.github-icon {
  margin-top:-6px;
  width:20px;
}

/* Set the fixed height of the footer here */
#footer {
  margin-top: 180px;
  height: 120px;
  background-color: #232323;
  color: #eeeeee;
  margin-bottom:0px;
  overflow: hidden;
  padding-top:10px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.carousel-control {
  top: 50%;
  bottom: 50%;
}

.home-blog {
  max-height: 340px;
  overflow: hidden
}

.home-blog:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90%;
  height: 1.3em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

h1 {
  font-weight: 300;
}

h3 {
  font-weight: 300;
}

.footer-social {
  border:0;
  width:32px;
  height:32px;
}

.footer-social-link {
  text-decoration: none;
}

.spacer {
  height: 80px;
}

#content td, #content th {
  border: 1px solid lightgrey;
  padding: 0.5em;
}

#content tbody tr:nth-child(odd){
  background-color: #f5f5f5;
}
