.tree {
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  -moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);
  box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);
  background-color:#fbfbfb;
  /*border:1px solid #999;*/
  margin-bottom:10px;
  /*max-height:300px;*/
  min-height:20px;
  overflow-y:auto;
  padding:19px;
}

.tree a {
  display:inline;
  overflow:hidden;
  text-overflow:ellipsis;
  width:90%;
  color: #000;
}

.tree a:hover {
  display:inline;
  overflow:hidden;
  text-overflow:ellipsis;
  width:90%;
  color: #fff;
}

/*  color: #df8505;*/

.tree li {
  list-style-type:none;
  margin:0;
  padding:4px 0 0 2px;
  position:relative;
}

.tree li::before,
.tree li::after {
  content:'';
  left:-20px;
  position:absolute;
  right:auto;
}

.tree li::before{
  border-left:1px solid #999;
  bottom:50px;
  height:100%;
  top:0;
  width:1px;
  -webkit-transition:"border-color 0.1s ease 0.1s";
  -moz-transition:"border-color 0.1s ease 0.1s";
  -o-transition:"border-color 0.1s ease 0.1s";
  transition:"border-color 0.1s ease 0.1s";
}

.tree li::after{
  border-top:1px solid #999;
  height:20px;
  top:23px;
  width:23px;
  -webkit-transition:"border-color 0.1s ease 0.1s";
  -moz-transition:"border-color 0.1s ease 0.1s";
  -o-transition:"border-color 0.1s ease 0.1s";
  transition:"border-color 0.1s ease 0.1s";
}

.tree li span.tree-element,
.tree li span.tree-attribute {
  word-wrap: break-word;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border:1px solid #999;
  border-radius:5px;
  display:inline-block;
  line-height:14px;
  padding:2px 4px;
  text-decoration:none;
  -webkit-transition:color .2s ease .1s,background-color .2s ease .1s,border-color .3s ease .2s;
  -moz-transition:color .2s ease .1s,background-color .2s ease .1s,border-color .3s ease .2s;
  -o-transition:color .2s ease .1s,background-color .2s ease .1s,border-color .3s ease .2s;
  transition:color .2s ease .1s,background-color .2s ease .1s,border-color .3s ease .2s;
  pointer-events: none;
}

.tree li span.tree-element > h5,
.tree li span.tree-attribute > h5
{
  background-color: rgba(255, 255, 255, 0.3);
  display: inline-block;
  padding: 10px;
  margin: 0px;
  margin-top:-3px;
  margin-left:-5px;
  border-top-left-radius:5px;
  border-top: 1px solid rgba(255, 255, 255, 0.7);;
  border-left: 1px solid rgba(255, 255, 255, 0.7);;
  border-right:1px solid #999;
  border-bottom:1px solid #999;
}


.tree li.parent_li > span {
  cursor:pointer;
}

.tree li.parent_li > span:hover {
  color:#df8505;
}

.tree li.parent_li > span:hover + ul li::after {
  border-top-color:#f89406;
}

.tree li.parent_li > span:hover+ul li::before {
  border-left-color:#f89406;
}

.tree li.parent_li>span:hover+ul li span{
  background:#fddfb3;
  border:1px solid #faa937;
  color:#000;
}

.tree li:last-child::before {
  height:23px;
}

.tree>ul>li::before,.tree>ul>li::after{
  border:0;
}

.tree-attribute {
  background-color: #96e890;
}

.tree-element {
  background-color: #90c2e8;
}

.tree-contents {
  margin-left: 20px;
  margin-top: 10px;
}

.tree-collapse {
  top:0px;
  border: 0px;
  padding: 4px;
}

.tree li a.other-tab:hover {
  color:#df8505;
}

@media screen and (max-width:1200px) {
  .spec-example {display: none}
  .spec-details {width: 100%;}
}

.tree-contents > .col-xs-4 {
  max-width: 250px;
  min-width: 200px;
}
.tree-contents > .col-xs-8 {
  max-width: 350px;
  min-width: 200px;
}
