.version {
  list-style: none;
  padding-left: 0px;
}
.version:before {
  content: "Versions: ";
}
.version li {
  display: inline-block;
}
.version li:after {
  content: "|";
  margin-left: 5px;
  speak: none;
}
.version li:last-child:after {
  display: none;
  margin-left: 0px;
}
.mytocify {
  position: fixed;
}
.mytocify > .panel-heading {
}

blockquote, blockquote > p {
  font-size: 100%;
}

.nocopy {
  border: 1px solid #000000;
}

.nocopy:before {
  content: "Do not copy. The following is for reference purposes.";
  background-color: #5b5b5b;
  display: block;
  margin-left: -9.5px;
  margin-top: -9.5px;
  margin-right: -9.5px;
  margin-bottom: 4px;
  border-bottom: 1px solid #000;
  padding: 4px;
  color: #fff;
}

.tutorial .panel-body{
  height: 80px;
}

/* Control the padding for container-fluid. Used for tutorials */
@media (min-width:1024px) {
  .container-fluid {
    padding-left: 50px;
    padding-right: 50px;
  }
}

/* Control the padding for container-fluid. Used for tutorials */
@media (max-width:480px) {
  .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.max-width-400 {
  max-width: 400px;
}

.max-width-800 {
  max-width: 800px;
}

#toc ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  line-height: 30px;
  text-indent: 10px;
}

#toc li ul li{
  font-size: 12px;
  padding-left: 10px;
}

#toc a {
  padding: 5px;
  display: block;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#toc a:hover {
  background-color: #eee;
}
.anchorjs-link {
  color: #eee;
}

.anchorjs-link:hover {
  text-decoration: none;
  color: #000;
}
