<?xml version='1.0' encoding='UTF-8'?>
<robot name='material_example'>
  <link name='base_link'>
    <inertial>
      <mass value='0.12' />
      <inertia ixx='0.01' ixy='0' ixz='0' iyy='0.01' iyz='0' izz='0.01' />
    </inertial>
    <visual>
      <geometry>
        <sphere radius="2"/>
      </geometry>
    </visual>
  </link>
  <gazebo reference='base_link'>
    <visual>
      <material>
        <diffuse>0 0 1 1 </diffuse>
      </material>
    </visual>
  </gazebo>
</robot>

