<div class="row">
  <div class="col-md-6">
    <h1>What is SDFormat</h1>
    <p>SDFormat (Simulation Description Format), sometimes abbreviated as SDF, is an XML format that describes objects and environments for
    robot simulators, visualization, and control. Originally developed as
    part of the <a href="http://gazebosim.org">Gazebo</a> robot simulator,
    SDFormat was designed with scientific robot applications in mind. Over the
    years, SDFormat has become a stable, robust, and extensible format capable of
    describing all aspects of robots, static and dynamic objects, lighting,
    terrain, and even physics.</p>
  </div> <!-- col-md-4 -->

  <div class="col-md-4 col-md-offset-2">
    <img class="img-responsive img-rounded" src="<%= asset_path "images/gazebo_screenshot.jpg"%>"/>
  </div>

</div>

