<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-4 text-left">
        <p class="">&copy;2020 Open Source Robotics Foundation</p>
      </div>

      <div class="col-md-4 col-xs-4 text-center">
        <p class="">SDFormat is open-source licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache 2.0</a></p>
      </div>
    </div> <!-- row -->
  </div> <!-- container -->
</div> <!-- footer -->


