<head>
  <title><%= @title %></title>
  <meta name="description" content="Simulation Description Format"/>
  <meta name="author" content="OSRF"/>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
  <link href='//fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  <%= favicon_link_tag 'sdf.ico' %>
  <link rel="stylesheet"  href="/assets/stylesheets/home.css" />
  <link rel="stylesheet"  href="/assets/stylesheets/jumbotron.css" />
  <link rel="stylesheet"  href="/assets/stylesheets/tree.css" />
  <link rel="stylesheet"  href="/assets/stylesheets/tutorials.css" />
  <link rel="stylesheet"  href="/vendor/assets/stylesheets/jquery.tocify.css" />
  <link rel="stylesheet"  href="/vendor/assets/stylesheets/prettify.css" />

  <script src="/assets/javascripts/redirect_old_links.js" />
  <script src="/assets/javascripts/google_analytics.js" />
  <script src="/vendor/assets/javascripts/bootstrap-tree.js"></script>
  <script src="/vendor/assets/javascripts/jquery.tocify.js"></script>
</head>

