<div class="jumbotron">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center jumboopaque">

      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <p><img src="<%= asset_path 'images/sdf_vert.png'%>"
            alt="SDFormat" height="200"></p>
            <h3>Describe your world.</h3>
          </div>

          <div class="row">
            <div class="text-center"> 
              <p>
              <a href="/download" class="btn btn-primary btn-lg anchorLink jumbo-button" role="button"><span class="glyphicon glyphicon-download-alt"></span> Download <small>(libsdformat <%=releaseVersion%>)</small></a>

              <a href="http://github.com/osrf/sdformat" class="btn btn-custom btn-lg jumbo-button" role="button"><span><img src="<%= asset_path 'images/github_light_32x32.png'%>" alt="github" class="github-icon"/></span> View on Github</a>
              </p>

            </div> <!-- col-md-6 text-center -->
          </div> <!-- row -->
        </div> <!-- col-md-10 -->
      </div>

      <!--
      <div class="row">
        <div class="col-md-12">
          <ul class='jumbo-list'>
            <a class='jumbo-list-item' href='spec'>Specification</a>
            <a class='jumbo-list-item' href='api'>API</a>
            <a class='jumbo-list-item' href='#status'>Tutorials</a>
          </ul>
        </div>
      </div>
-->

    </div> <!-- col-md-6 jumboopaque -->

  </div> <!-- jumbotron -->
</div>

