<div class="row">
  <div class="col-md-4">
    <img class="img-responsive img-rounded" src="<%= asset_path "images/robots.jpg"%>"/>
  </div>

  <div class="col-md-6 col-md-offset-2">
    <h1>Robots</h1>
    <p>You can acurately describe all aspects of a robot using SDFormat, whether the robot is a simple chassis with wheels or a humanoid. In addition to kinematic and dynamic attributes, sensors, surface properties, textures, joint friction, and many more properties can be defined for a robot. These features allow you to use SDFormat for both simulation, visualization, motion planning, and robot control.</p>
  </div>

</div>
