<div class="row">
  <div class="row">
  <div class="col-md-6">
    <h1>Environments</h1>
    <p>Simulation requires rich and complex environments in which models exist and interact. SDFormat provides the means to define a wide variety of environments. Multiple lights may included in an environment, terrain (either fictional or based on a DEM), streets from OpenStreetMaps, and any model provided from <a href="http://thepropshop.org">The Prop Shop</a> (on online repository of 3D models). </p>
  </div> <!-- col-md-4 -->

  <div class="col-md-4 col-md-offset-2">
    <img class="img-responsive img-rounded" src="<%= asset_path "images/dem_helens.jpg"%>"/>
  </div>

</div>
